<h1 class="mt-3">Pipes<small>Angular</small></h1>
<hr>
<div class="row">
    <div class="col">

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Variable</th>
                    <th>Pipe</th>
                    <th>Salida</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>{{nombre}}</th>
                    <th>uppercase</th>
                    <th>{{nombre | uppercase}}</th>
                </tr>
                <tr>
                    <th>{{nombre}}</th>
                    <th>lowercase</th>
                    <th>{{nombre | lowercase}}</th>
                </tr>
                <tr>
                    <th>{{nombre}}</th>
                    <th>Slice:3</th>
                    <th>{{nombre | slice:3}}</th>
                </tr>
                <tr>
                    <th>{{nombre}}</th>
                    <th>Slice:0:3</th>
                    <th>{{nombre | slice:0:3}}</th>
                </tr>
                <tr>
                    <th>{{arreglo}}</th>
                    <th>Slice:1:5</th>
                    <th>{{arreglo | slice:1:5}}</th>
                </tr>
            </tbody>
        </table>

        <h4>Slice</h4>
        <ul>
            <li *ngFor=" let item of arreglo | slice:5:20">{{item}}</li>
        </ul>

    </div>
</div>